<div class="bg about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12" style="margin-top: 15%; color: white; text-align: justify">
        <h1>ABOUT</h1>
        <p>Sake (Japanese: 酒?), often spelled saké (IPA /ˈsɑːkeɪ/ sah-kay or /ˈsɑːki/ sah-kee) in English, is a Japanese rice wine made by fermenting rice that has been polished to remove the bran. Unlike wine, in which alcohol (ethanol) is produced by fermenting sugar that is naturally present in grapes, sake is produced by a brewing process more like that of beer, where the starch is converted into sugars before being converted to alcohol.</p>

        <p>The brewing process for sake differs from the process for beer in that, for beer, the conversion from starch to sugar and from sugar to alcohol occurs in two discrete steps. Like other rice wines, when sake is brewed, these conversions occur simultaneously. Furthermore, the alcohol content differs between sake, wine, and beer. Wine generally contains 9%–16% ABV, while most beer contains 3%–9%, and undiluted sake contains 18%–20% (although this is often lowered to about 15% by diluting with water prior to bottling).</p>

        <p>In the Japanese language, the word "sake" (酒, "liquor", also pronounced shu) can refer to any alcoholic drink, while the beverage called "sake" in English is usually termed nihonshu (日本酒, "Japanese liquor"). Under Japanese liquor laws, sake is labelled with the word seishu (清酒, "clear liquor"), a synonym less commonly used in conversation.</p>

        <p>In Japan, where it is the national beverage, sake is often served with special ceremony – gently warmed in a small earthenware or porcelain bottle called a tokkuri, and sipped from a small porcelain cup called a sakazuki.</p>
      </div>
    </div>
  </div>
</div>
