<div class="bg faq">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-6 col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4 col-xs-12" style="margin-top: 15%; color: white;">
        <h1>FAQ</h1>
        <h4>Question</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eum beatae esse labore? Ratione, esse dolorem mollitia. Accusamus fugiat, eius nesciunt modi fugit cumque deserunt sapiente, molestiae et necessitatibus beatae!</p>
        <h4>Question</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eum beatae esse labore? Ratione, esse dolorem mollitia. Accusamus fugiat, eius nesciunt modi fugit cumque deserunt sapiente, molestiae et necessitatibus beatae!</p>
        <h4>Question</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eum beatae esse labore? Ratione, esse dolorem mollitia. Accusamus fugiat, eius nesciunt modi fugit cumque deserunt sapiente, molestiae et necessitatibus beatae!</p>
      </div>
    </div>
  </div>
</div>
